.playerPlayback {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  gap: .5rem;
}

.playerPlayback-slider {
  flex: 1;
}

.playerPlayback-progressTime {
  /* border: 1px solid red; */
  line-height: 1;
  /* position: relative; */
  /* inset-block-start: 1px; */
  font: var(--small);
}


@supports not(gap: .5rem) {
  .playerPlayback-slider {
    margin-right: .5rem;
    margin-left: .5rem;
  }
}
