.slider {
  /* inline-size: 200px; */
  background: rgba(255, 255, 255, .2);
  block-size: .25rem;
  border-radius: .25rem;
}

.slider:hover .slider-progress{
  background: var(--primary);
}

.slider:hover .slider-button {
  display: block;
}

.slider-progress {
  block-size: inherit;/*inherit para heredar del padres*/
  border-radius: inherit;
  background: var(--white);
  inline-size: 20%;
  position: relative;
}

.slider-button {
  position: absolute;
  background: var(--white);
  padding: 0;
  border: 0;
  block-size: 200%;
  aspect-ratio: 1/1;/*== inline-size 200%*/
  border-radius: 50%;
  inset-inline-start: 100%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);/*50% del tamaño del circulito en X e Y*/
  display: none;
}